/* PAGE BACKGROUND */

body
{
  overflow:hidden;
  background-color:#000030;
  background-image:url("https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  
  background-size:100%;
  background-position:center;
}

canvas{
    filter: blur(1px);
}

/*
############################################################################################################
############################################################################################################
BUTTON-1 - CHASING FIREFLIES 
############################################################################################################
############################################################################################################
*/



.chapter1-button {
  display: inline-block;
    position:relative;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 246, 244);
    text-decoration: none;color: aliceblue;
    background-color: transparent;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    margin-top: 250px;
    margin-left: 450px;
  }

  
.chapter1-button:hover{
    transition: 0.3s;
    background-color: transparent;
    opacity:10;
}


  .firefly {
    position:relative;
    width: 8px;
    height: 8px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow;
    animation: fly 1s ease-in-out forwards ;
  }

  @keyframes fly {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(50px, -50px) scale(1.5);
      opacity: 0.8;
    }
    100% {
      transform: translate(100px, 100px) scale(0);
      opacity: 0;
    }
  }
